alias update="sudo apt update && sudo apt upgrade -y && sudo apt autoremove && sudo apt clean"
alias agi="sudo apt-get install"
alias agr="sudo apt-get remove"
alias takeaquicknap="reboot"
alias chrome="google-chrome"
alias playstarwars="telnet towel.blinkenlights.nl"
alias showTerminalColors='for code ({000..255}) print -P -- "$code: %F{$code}This is how your text would look like%f"'
alias deactivateTouchscreen="xinput disable 10"
alias activateTouchscreen="xinput enable 10"
alias valgrindTest="valgrind --tool=memcheck --leak-check=yes --show-reachable=yes --num-callers=20 --track-fds=yes "
alias diskspace="du -sh * | sort -hr | head -n20"
alias vim="nvim"
alias python="python3"

# Retrieved from https://opensource.com/article/18/9/handy-bash-aliases
alias www='python -m SimpleHTTPServer 8000'
alias getpass="openssl rand -base64 20"
alias wget='wget -c '
alias speed='speedtest-cli --server 2406 --simple'
alias ipe='curl ipinfo.io/ip'
alias ipi='hostname -I'
alias ping='ping -c 5'
alias fon="sudo ufw enable"
alias foff="sudo ufw disable"

alias j3connect="adb connect 192.168.0.40"
alias s7connect="adb connect 192.168.1.140"
alias scrcpy="scrcpy -b2M -m650"
alias rootFolderSizes="sudo du -hsx /* | sort -rh | head -n 40"

# Confirmation while copying, linking, or moving files
alias cp='cp -i'
alias ln='ln -i'
alias mv='mv -i'

# Custom drop shadow function
function dropshadow () {
    filename=$(basename -- "$1")
    # extension="${filename##*.}"
    basename="${filename%.*}"
    # we want to enforce png (even if .jpg as input)
    suffix="_shadow.png"
    convert "$1" \( +clone -background black -shadow 50x10+5+5 \) +swap -background none -layers merge +repage "$basename$suffix"
}

function drop-shadow () {
    convert "$1" -trim \( +clone -background grey25 -shadow 80x40+5+30 \) +swap -background transparent -layers merge +repage "$1-shadow.png"
}

function addBookmarkToPDF() {
	local inxInfofile="$1"
	local inpFile="$2"
	local outFile="$3"
	gs -sDEVICE=pdfwrite -q -dBATCH -dNOPAUSE -sOutputFile="$3" -dPDFSETTINGS=/prepress "$1" -f "$2"
}
