[user]
	email = deep302001@gmail.com
	name = Deep Panchal
	signingkey = 906E72294D6EF4CF
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgSign = true
