// Default Theme
// (
//     selected_tab: Reset,
//     command_fg: White,
//     selection_bg: Blue,
//     selection_fg: White,
//     cmdbar_bg: Blue,
//     cmdbar_extra_lines_bg: Blue,
//     disabled_fg: DarkGray,
//     diff_line_add: Green,
//     diff_line_delete: Red,
//     diff_file_added: LightGreen,
//     diff_file_removed: LightRed,
//     diff_file_moved: LightMagenta,
//     diff_file_modified: Yellow,
//     commit_hash: Magenta,
//     commit_time: LightCyan,
//     commit_author: Green,
//     danger_fg: Red,
//     push_gauge_bg: Blue,
//     push_gauge_fg: Reset,
//     tag_fg: LightMagenta,
//     branch_fg: LightYellow,
// )

// Catppuccin Mocha
(
    selected_tab: Reset,
    command_fg: Rgb(205, 214, 244),
    selection_bg: Rgb(88, 91, 112),
    selection_fg: Rgb(205, 214, 244),
    cmdbar_bg: Rgb(24, 24, 37),
    cmdbar_extra_lines_bg: Rgb(24, 24, 37),
    disabled_fg: Rgb(127, 132, 156),
    diff_line_add: Rgb(166, 227, 161),
    diff_line_delete: Rgb(243, 139, 168),
    diff_file_added: Rgb(249, 226, 175),
    diff_file_removed: Rgb(235, 160, 172),
    diff_file_moved: Rgb(203, 166, 247),
    diff_file_modified: Rgb(250, 179, 135),
    commit_hash: Rgb(180, 190, 254),
    commit_time: Rgb(186, 194, 222),
    commit_author: Rgb(116, 199, 236),
    danger_fg: Rgb(243, 139, 168),
    push_gauge_bg: Rgb(137, 180, 250),
    push_gauge_fg: Rgb(30, 30, 46),
    tag_fg: Rgb(245, 224, 220),
    branch_fg: Rgb(148, 226, 213)
)

// Catppuccin Macchiato
// (
//     selected_tab: Reset,
//     command_fg: Rgb(202, 211, 245),
//     selection_bg: Rgb(91, 96, 120),
//     selection_fg: Rgb(202, 211, 245),
//     cmdbar_bg: Rgb(30, 32, 48),
//     cmdbar_extra_lines_bg: Rgb(30, 32, 48),
//     disabled_fg: Rgb(128, 135, 162),
//     diff_line_add: Rgb(166, 218, 149),
//     diff_line_delete: Rgb(237, 135, 150),
//     diff_file_added: Rgb(238, 212, 159),
//     diff_file_removed: Rgb(238, 153, 160),
//     diff_file_moved: Rgb(198, 160, 246),
//     diff_file_modified: Rgb(245, 169, 127),
//     commit_hash: Rgb(183, 189, 248),
//     commit_time: Rgb(184, 192, 224),
//     commit_author: Rgb(125, 196, 228),
//     danger_fg: Rgb(237, 135, 150),
//     push_gauge_bg: Rgb(138, 173, 244),
//     push_gauge_fg: Rgb(36, 39, 58),
//     tag_fg: Rgb(244, 219, 214),
//     branch_fg: Rgb(139, 213, 202)
// )

// Catppuccin Latte
// (
//     selected_tab: Reset,
//     command_fg: Rgb(76, 79, 105),
//     selection_bg: Rgb(172, 176, 190),
//     selection_fg: Rgb(76, 79, 105),
//     cmdbar_bg: Rgb(230, 233, 239),
//     cmdbar_extra_lines_bg: Rgb(230, 233, 239),
//     disabled_fg: Rgb(140, 143, 161),
//     diff_line_add: Rgb(64, 160, 43),
//     diff_line_delete: Rgb(210, 15, 57),
//     diff_file_added: Rgb(223, 142, 29),
//     diff_file_removed: Rgb(230, 69, 83),
//     diff_file_moved: Rgb(136, 57, 239),
//     diff_file_modified: Rgb(254, 100, 11),
//     commit_hash: Rgb(114, 135, 253),
//     commit_time: Rgb(92, 95, 119),
//     commit_author: Rgb(32, 159, 181),
//     danger_fg: Rgb(210, 15, 57),
//     push_gauge_bg: Rgb(30, 102, 245),
//     push_gauge_fg: Rgb(239, 241, 245),
//     tag_fg: Rgb(220, 138, 120),
//     branch_fg: Rgb(23, 146, 153)
// )

// Catppuccin Frappe
// (
//     selected_tab: Reset,
//     command_fg: Rgb(198, 208, 245),
//     selection_bg: Rgb(98, 104, 128),
//     selection_fg: Rgb(198, 208, 245),
//     cmdbar_bg: Rgb(41, 44, 60),
//     cmdbar_extra_lines_bg: Rgb(41, 44, 60),
//     disabled_fg: Rgb(131, 139, 167),
//     diff_line_add: Rgb(166, 209, 137),
//     diff_line_delete: Rgb(231, 130, 132),
//     diff_file_added: Rgb(229, 200, 144),
//     diff_file_removed: Rgb(234, 153, 156),
//     diff_file_moved: Rgb(202, 158, 230),
//     diff_file_modified: Rgb(239, 159, 118),
//     commit_hash: Rgb(186, 187, 241),
//     commit_time: Rgb(181, 191, 226),
//     commit_author: Rgb(133, 193, 220),
//     danger_fg: Rgb(231, 130, 132),
//     push_gauge_bg: Rgb(140, 170, 238),
//     push_gauge_fg: Rgb(48, 52, 70),
//     tag_fg: Rgb(242, 213, 207),
//     branch_fg: Rgb(129, 200, 190)
// )
